@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 820px;
  height: 500px;
  max-width: 1200px;
  background: #e6ebef;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: space-between;
}

.image {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px; 
  }
  
  .image img {
    width: 100%;
    height: auto;
  }



.container {
  padding: 25px;
  border-radius: 10px;
}




hr{
  margin-bottom: 10px;
}

.container h2 {
  text-align: left;
  margin-bottom: 10px;
  color: #022a6c;
  text-transform: capitalize;
}


.container h3 {
  text-align: left;
  color: #022a6c;
  text-transform: capitalize;
}

ul {
  list-style: none;  
  padding-left: 0;  
  margin: 20px;        
}

li {
  text-decoration: none; 
}


i {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.2s ease; 
}

i:hover {
  transform: scale(1.1);
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  scrollbar-width: thin;
  scrollbar-color: #022a6c #f9f9f9;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #000000;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #022a6c;
  border-radius: 8px;
  border: 1px solid #000000;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #022a6c;
}

.student-card {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.student-entry {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.info-left, .info-right { 
  box-sizing: border-box;
}

.info-left, .info-right {
  padding: 10px;
}

.info-left p, .info-right p {
  margin-bottom: 10px;
}

.student-info{
  display: flex;
  justify-content: space-between;
}

.student-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}


.course-info h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-info ul {
  list-style-type: none;
  padding: 0;
}

.course-info li {
  margin-bottom: 5px;
}







.ad-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #022b6d;
  text-align: center;
  font-size: 14px;
  color: black;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.ad-footer p{
    text-align: center;
    color: #fff;
gap: 10px;
}

.ad-footer p span{
    text-align: center;
    color: #fff;
    font-weight: bolder;

}

