@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); 
    width: 400px; 
    height: 500px; 
    max-width: 1200px;
    background: #e6ebef;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    justify-content: space-between;
  
}


form {
    padding: 30px;
    border-radius: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    background: #fff;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}