@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 520px;
  max-width: 1200px;
  background: #e6ebef;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: space-between;
}

.image {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px; 
  }
  
  .image img {
    width: 100%;
    height: auto;
  }

form {
  padding: 25px;
  border-radius: 10px;
}



hr{
  margin-bottom: 10px;
}
form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #022a6c;
  text-transform: capitalize;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #022a6c;
  font-weight: 500;
}

input[type="text"], input[type="number"], input[type="email"] {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid #b0c4de;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
  border-color: #022a6c;
  background-color: #f7f8fc;
  outline: none;
  box-shadow: 0 0 8px rgba(2, 42, 108, 0.2);
  transform: scale(1.02);
}

input[type="text"]:hover, input[type="number"]:hover, input[type="email"]:hover {
  border-color: #0055a5;
}

input::placeholder {
  color: #b0b0b0;
  font-style: italic;
}


.register {
  width: 100%;
  padding: 10px;
  background-color: #022a6c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 2px;


}

.register:hover {
  background-color: #012156;
}

a.view-summary {
  margin-left: 110px;
  text-decoration: none;
  list-style: none;
  color: #012156;
  font-weight: 500; 
  transition: font-weight 0.5s ease, color 0.3s ease, transform 0.3s ease;
  padding: 5px 10px;
  display: inline-block;
}



.view-summary:hover {
  margin-left: 110px;
  font-weight: 600; 
  transform: scale(1.02);
}


.popup {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  background-color: white;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.popup.show .popup-content {
  transform: scale(1);
}

/* Style for input buttons */
.popup input[type="button"] {
  margin-top: 10px;
  background-color: #022a6c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}

.popup input[type="button"]:hover {
  background-color: #012156;
}







.ad-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #022b6d;
  text-align: center;
  font-size: 14px;
  color: black;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.ad-footer p{
    text-align: center;
    color: #fff;
gap: 10px;
}

.ad-footer p span{
    text-align: center;
    color: #fff;
    font-weight: bolder;

}

