@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 500px;
  max-width: 1200px;
  background: #e6ebef;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: space-between;
}

.image {
    position: fixed;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px; 
    padding: 10px; 
  }
  
  .image img {
    width: 100%;
    height: auto;
  }

form {
  padding: 25px;
  border-radius: 10px;
}



hr{
  margin-bottom: 10px;
}
form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #022a6c;
  text-transform: capitalize;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #022a6c;
  font-weight: 500;
}

input[type="text"],input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid #b0c4de;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,input[type="number"]:focus,
input[type="email"]:focus {
  border-color: #022a6c;
  background-color: #ffffff;
  outline: none;
}

.viewcourses {
  width: 100%;
  padding: 10px;
  background-color: #022a6c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;

}

.viewcourses:hover {
  background-color: #012156;
}


.ad-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #022b6d;
  text-align: center;
  font-size: 14px;
  color: black;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.ad-footer p{
    text-align: center;
    color: #fff;
gap: 10px;
}

.ad-footer p span{
    text-align: center;
    color: #fff;
    font-weight: bolder;

}

